body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle {
  position: relative;
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 300px solid tomato;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: blue;
  position: absolute;
  top: 50px;
  right: 50%;
  transform: translateX(50%);
}

.circle::after {
  content: "";
  width: 70%;
  height: 70%;
  background: green;
  position: absolute;
  top: 15%;
  left: 15%;
}
